connection.timeout=60

rabbitmq.host=
rabbitmq.port=
rabbitmq.username=
rabbitmq.password=
rabbitmq.queue=

mongodb.host=
mongodb.port=
mongodb.username=
mongodb.password=
mongodb.database=
mongodb.collection=

prioritizer.repositories=/path/to/repos
prioritizer.command=/path/to/analyzer $owner $repository $dir [$timestamp]
